@model AuthDemo.Models.LoginViewModel
<form for-action="Login" method="post">
    <input asp-for="UserName" placeholder="Username" />
    <input asp-for="Password" type="Password" placeholder="Password" />
    <button type="submit">Login</button>
</form>