@{ ViewData["Title"]= "Contact us";}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <h2>@ViewData["Title"]</h2>
    <p>Department : @ViewData["Department"]</p>
    <p>If you have any quesiton</p>

    <p><a href="/">Back to Home</a></p>
</div>