@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rountin Demo in Asp.Net Core MVC</h1>
    <p>Conventional routing examples</p>

    <div class="mt-4">
        <h3>Home controller routes:</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/">(Home/index)</a></li>
            <li class="list-group-item"><a href="/Home/About">(Home/About)</a></li>
            <li class="list-group-item"><a href="/about-us">/about-us(custom Route)</a></li>
            <li class="list-group-item"><a href="/Contact">/contct</a></li>
            <li class="list-group-item"><a href="/Contact/sales">/Contact/Sales</a></li>
            <li class="list-group-item"><a href="/Contact/support">/Contact/support</a></li>

        </ul>
    </div>

    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="text-center">

    <div class="mt-4">
        <h3>Product Controllers routes</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/Products">/products</a></li>
            <li class="list-group-item"><a href="/Products/details">/products/details/1</a></li>
            <li class="list-group-item"><a href="/Products/details/123">/products/details/123</a></li>
        </ul>
    </div>
</div>