@{ ViewData["Title"]= "Products Details";}

<div class="text-center">

    <h1 class = "display-4">Products</h1>
    <h2> @ViewData["title"]</h2>

    <p>Learn more about products and their feature</p>
    <p> @ViewData["Message"]</p>
    <p>Product id : @ViewData["ProductId"]</p>
    <p>Checkout our amazing Products!</p>

    <p><a href="/">Back to Home</a></p>
</div>