@{ ViewData["Title"]= "Products";}

<div class="text-center">

    <h1 class = "display-4">Products</h1>
    <h2> @ViewData["title"]</h2>
    <h2> @ViewData["Message"]</h2>

    <p><a href="/">Back to Home</a></p>
</div>